# IDE
*.iml
.idea/
.vscode/

# Gradle
.gradle/
build/
local.properties

# Kotlin
.kotlin/

# Go generated artifacts
app/libs/*.aar
app/libs/*.jar

# OS
.DS_Store

# Android
/captures
.externalNativeBuild
.cxx

# Claude Code
CLAUDE.md
